body{
    margin: 0;
    background: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.logo{
    font-size: 30px;
    float: left;
    padding: 15px 0;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.logo:hover{
    color: grey;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}

nav a{
    color: black;
    text-decoration: none;
    font-weight: 400;
}

nav a:hover{
    color:grey;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color:black;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

.intro{
    width: 80%;
    display: inline-block;
}

.circular img { 
    border-radius: 50%;
    width: 350px;
    margin-top: 15%;
    margin-left: 8%;
    margin-right: 5%;
    margin-bottom: 3%;
    float: left;
}

.bold-text{
    font-weight: 600;
    font-size: 35px;
    margin-top: 15%;
    margin-left: 47%;
    margin-right: 17%;
}

.bold-text-other{
    width: auto;
    font-weight: 600;
    font-size: 35px;
    margin-top: 18%;
    margin-left: -10%;
    display: block;
    text-align: center;
}

.intro-text{
    margin-left: 47%;
    margin-right: 17%;
    font-size: 20px;
}

hr.animated{
    margin-top: 150px;
    width: 78%;
    animation: expand 1.5s ease-in-out;
    height: 0.25px;
    background-color: black;
}

hr.animated2{
    margin-top: 80px;
    width: 78%;
    animation: expand 1.5s ease-in-out;
    height: 0.25px;
    background-color: black;
}

hr.other-animated{
    margin-top: 100px;
    width: 78%;
    animation: expand 1.5s ease-in-out;
    height: 0.25px;
    background-color: black;
}

@keyframes expand{
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.second-intro h1{
    margin-top: 3%;
    margin-left: 11%;
}

.second-intro h4{
    margin-left: 11%;
}

.second-intro p{
    font-size: 20px;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 2.25%;
}

.btn{
    margin-left: 11%;
    margin-top: 3%;
    width: 120px;
    height: 150px;
}

.btn #submit{
    background-color: black;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    height: 35px;
    width: 110px;
}

.btn #submit:hover{
    background-color: #3d3d3d;
}

.fade-in {
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
